name: Create Tag

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: 'Version'
        required: true
        type: string

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.MY_PAT }}

#      - name: Set git user
#        run: |
#          git config --global user.email "iam@freekode.org"
#          git config --global user.name "Evgeny"

      - name: Create tag
        run: |
          git tag v${{ inputs.new-version }}
          git push --tags

      - name: check all stuff
        run: |
          cat boot/version
          cat electron/package.json | grep version
          git log
